
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background: url(images/background4.jpg);

    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    align-items: center;
}

main {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: center;
    background: rgba(255, 255, 255, 0.033);
    backdrop-filter: blur(40px);
    border: 2px solid #ffffff44;
    border-radius: 10px;
    color: whitesmoke;
}

.title {
    font-size: 50px;
    padding-top: 50px;
}

.go-to {
    color: whitesmoke;
    font-size: 14px;
    padding-top: 20px;
}

.login-error-msg-holder {
    height: fit-content;
    width: 200px;
    padding-top: 60px;
}

.login-error-msg {
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

.error-msg-second-line {
    display: block;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

.login-form-field::placeholder {
    color: whitesmoke;
}

.login-form-field {
    color: whitesmoke;
    background: transparent;
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

.register-form-submit,
.login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-align: center;

    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

.google-container {
    width: 200px;
    font-size: 14px;
    padding-top: 14px;
}

.google-container i {
    margin-right: 6px;
}

.google-container a {
    color: whitesmoke;
}

.google-container:hover {
    color: rgba(255, 0, 0, 0.571)
}
